@page "/pizzas"
@using BlazingPizza
@using BlazingPizza.Data
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@using System.Net.Http.Json

<h1>Choose your pizza</h1>

<p>We have all these delicious recipes:</p>

@if (todaysPizzas == null)
{
    <p>Were finding out what pizzas are available today...</p>
}
else
{
    <!-- This markup will be rendered once the pizzas are loaded -->
    <table>
        <thead>
        <tr>
        <th>Pizza Name</th>
        <th>Description</th>
        <th>Vegetarian?</th>
        <th>Vegan?</th>
        <th>Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pizza in todaysPizzas)
        {
        <tr>
            <td>@pizza.Name</td>
            <td>@pizza.Description</td>
            <td>pizza.Vegetarian</td>
            <td>pizza.Vegan</td>
            <td>pizza.Price</td>
        </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<PizzaSpecial> todaysPizzas;
    //Llamando el servicio
    
    protected override async Task OnInitializedAsync()
    {
        todaysPizzas = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }    
}